#!/usr/bin/make -f
#DH_VERBOSE=1

PYTHON2_VERSIONS=$(shell pyversions -vr)
PYTHON3_VERSIONS=$(shell py3versions -vr)
PYTHON_VERSIONS=${PYTHON2_VERSIONS} ${PYTHON3_VERSIONS}

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.0.1:9

%:
	dh $@ --with python2,python3,sphinxdoc

# # Testing:
# ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
# test-python%:
# 	python$* setup.py test -vv
# 
# override_dh_auto_test: $(foreach pyversion,${PYTHON_VERSIONS},$(pyversion:%=test-python%))
# endif

build-python%:
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%)
	dh_auto_build

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

# This was the suggested method that does not seem to work:
# override_dh_auto_install: $(PYTHON3:%=install-python%)
# 	dh_auto_install

# This works better:
override_dh_auto_install: $(PYTHON3_VERSIONS:%=install-python%)
	dh_auto_install

# override_dh_installchangelogs:
# 	dh_installchangelogs -k foo/NEWS.rst

override_dh_installdocs:
	cd doc; make clean; make html; cd ..
	dh_installdocs doc/build/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
